/*
#top .btn-link, #top-links li, #top-links a {
        
        color: #888;
	
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}

#top-links .dropdown-menu a:hover {
    color: #FFF;
}

footer {
    
    background-color: #333;
    border-top: 1px solid #ddd;
    color: #ccc;
}
footer a {
    
    color: #ccc;
}
footer a:hover {
   
    color: #fff;
}
footer h5 {
    
    color: #fff;
}
footer hr {
    
    border-bottom: 1px solid #ccc;
}
*/